body {
    font-family: Arial, sans-serif;
    margin: top 60px;
}

#weatherApp {
    width: 80%;
    margin: auto;
}
h1 {
    font-size: xx-large;
    margin-top: -60px;
}


.navbar {
    margin-bottom: 20px;

}
.navbar-item {
    text-align: center;
    font-size: larger;
    font-weight: bolder ;
}

.is-black {
    margin-top: 10px;
    height: 10%;
    position: relative;
    left: 14px;
    

}
.currentIcon {
    position: relative;
    left: 250px;
    top: 50px;
    height: 20%;

}
.dayOneIcon {
    position: relative;
    top: 10px;
    left: 10px;
    padding: 10px;
}

.dayTwoIcon {
    position: relative;
    top: 10px;
    left: 10px;
    padding: 10px;
}

.dayThreeIcon {
    position: relative;
    top: 10px;
    left: 10px;
    padding: 10px;
}
.dayFourIcon {
    position: relative;
    top: 10px;
    left: 10px;
    padding: 10px;
}
.dayFiveIcon {
    position: relative;
    top: 40px;
    left: 10px;
    padding: 10px;
}

.historyButton {
    padding: 20px;
    margin: 20px;
}

#currentWeather, #forecast {
    margin-top: 20px;
}

#searchHistory {
    list-style: none;
}

div {
    display: block;
}

.card {
    width: 50%;
    padding: 20px;
    margin: 20px;
}

#currentWeather {
    max-width: 50%;
}
.card-header{
    font-weight: bolder;
}

#weatherApp {
    align-self: center;
}

.card-content {
    position: relative;
    margin-top: -60px;
}